.parallax-wrapper {
  height: 70vh;
  overflow: hidden;

  .parallax-container {
    height: 70vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #101010;
  }
}

