@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

a {
  @extend .primary-text;
  text-decoration: none;
  transition-duration: 0.3s;
  
  &:hover {
    @extend .primary-text, .lighten-1-text;
  }
}

span.subtitle {
  @extend .grey-text, .lighten-2-text;
  display: block;
  font-size: 0.75em;
  margin-top: 0.5em;
}

h1 {
  text-align: center;
}

code {
  @extend .purple-text, .lighten-3-text;
  transition-duration: 0.3s;
  font-size: 1.1em;
  font-family: 'Ubuntu Mono', monospace;

  &:hover {
    @extend .purple-text, .lighten-5-text;
  }
}

p {
  line-height: 1.3em;
}